@model Blogie.web.ViewModels.ViewBlogData

<div>
    <form method="post" enctype="multipart/form-data">
       
        <div class="form-group">
            <label for="thumnail">Thumnail</label>
            <input asp-for="imageFile" type="file" class="form-control" id="imageFile" />
        </div>
       <div class="form-group">
           <label for="blogtitle">Title</label>
           <input asp-for="Title" type="text" class="form-control" id="blogtitle" placeholder="Title"/>
       </div>
        <div class="form-group">
            <label for="summary">Summary of Your Blog</label>
            <textarea asp-for="Summary" class="form-control" id="summery" rows="2"></textarea>
        </div>
        <div class="form-group">
            <label for="details">Details of Your Blog</label>
            <textarea asp-for="Details" class="form-control" id="details" rows="5"></textarea>
        </div>
        <div class="form-group mt-4">
            <button class="btn btn-success">Confirm</button>
            <a asp-controller="Bloggie" asp-action="Index" class="btn btn-outline-secondary">Back to Home</a>
        </div>
        
    </form>
</div>
